<!DOCTYPE html>
<html>
<head>
    <title>Users info</title>
    <meta charset="utf-8"/>
    <%- include('../inc/head') %>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 15px;
            text-align: center;
        }


        .container {
            column-width: 80px;
            column-gap: 50px;
            background-color: rgb(207, 232, 220);
            border: 2px solid rgb(79, 185, 227);
            page-break-inside: avoid;
            width: 60%
        }
    </style>
</head>
<body>

<%- include('../inc/header') -%>

<ul class="navbar-nav">
    <h1 style="text-align: center">Таблиця користувачів</h1>
    <% usersInfo.forEach(item => { %>
        <table class="container">
            <tr>
                <th style="width:  20%">Параметр</th>
                <th>Дані</th>

            </tr>
            <tr>
                <td>Имя</td>
                <td><%= item.userName %></td>
            </tr>
            <tr>
                <td>email</td>
                <td><%= item.email %></td>
            </tr>
            <tr>
                <td>city</td>
                <td><%= item.city %></td>
            </tr>
            <tr>
                <td>old</td>
                <td><%= item.old %></td>
            </tr>
        </table>

        <br>
    <% }) %>
</ul>

<%- include('../inc/footer') -%>

</body>
<html>
